In [21]:
import tensorflow as tf

In [22]:
daily_sales_number = [22, 12, 34, 56, 34, 23,-1,-123,0 ,-98]

tf_dataset = tf.data.Dataset.from_tensor_slices(daily_sales_number)
tf_dataset

In [23]:
for sale in tf_dataset:
    print(sale)

tf.Tensor(22, shape=(), dtype=int32)
tf.Tensor(12, shape=(), dtype=int32)
tf.Tensor(34, shape=(), dtype=int32)
tf.Tensor(56, shape=(), dtype=int32)
tf.Tensor(34, shape=(), dtype=int32)
tf.Tensor(23, shape=(), dtype=int32)
tf.Tensor(-1, shape=(), dtype=int32)
tf.Tensor(-123, shape=(), dtype=int32)
tf.Tensor(0, shape=(), dtype=int32)
tf.Tensor(-98, shape=(), dtype=int32)

In [24]:
for sale in tf_dataset:
    print(sale.numpy())

22
12
34
56
34
23
-1
-123
0
-98

In [25]:
for sale in tf_dataset.as_numpy_iterator():
    print(sale)

22
12
34
56
34
23
-1
-123
0
-98

In [26]:
for sale in tf_dataset.take(3):
    print('sale: ', sale.numpy())

sale:  22
sale:  12
sale:  34

In [27]:
def pp(data):
    list = []
    for i in data.as_numpy_iterator():
        list.append(i)
    return list

In [28]:
tf_dataset = tf_dataset.filter(lambda x : x >0)
pp(tf_dataset)

[22, 12, 34, 56, 34, 23]

In [29]:
tf_dataset = tf_dataset.map(lambda x : x * 72)
pp(tf_dataset)

[1584, 864, 2448, 4032, 2448, 1656]

In [30]:
tf_dataset = tf_dataset.shuffle(3)
pp(tf_dataset)

[2448, 1584, 4032, 1656, 2448, 864]

In [31]:
for sale in tf_dataset.batch(4):
    print(sale.numpy())

[ 864 1584 2448 4032]
[2448 1656]

In [32]:
tf_dataset = tf.data.Dataset.from_tensor_slices(daily_sales_number)

tf_dataset = tf_dataset.filter(lambda x: x > 0).map(lambda y: y * 72).shuffle(3).batch(4)
pp(tf_dataset)

[array([ 864, 4032, 1584, 2448], dtype=int32),
 array([1656, 2448], dtype=int32)]